


.maindiv{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.wrapper{
    margin-bottom: 30px;
}

.heading{
    margin: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}