$font-color: #A2A2A2;
$primary-color: #63B7E6;
.division{
background-color: #ffffff;
// background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}
#sec {
  font-family: 'Raleway', sans-serif;
  padding: 50px 0;
  
  text-align: center;
  word-wrap:break-word;
  h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 100px;
    margin-top: 50px;
    color: #1e7088;
  }

  h3 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: $primary-color;
    
  }
  p{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
  }

  ul {
    margin: 0px;
    padding: 20px 50px;
    display: flex;
    // position: absolute;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    li {
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-wrap:wrap ;
      flex-direction: column;
      background-color: white;    
      justify-content: space-between;
      // align-self: center;
      // justify-content: center;
      // margin: auto;
      padding: 60px;
      // width: 400px;
      // min-height: 300px;
      margin: 20px;
      border-radius: 12px;
      transition: box-shadow .5s;
      box-shadow: 0.1rem 1.0rem 1rem 0.1rem rgba(0, 0, 0, 0.24);

       

      &:hover {
        box-shadow: 0.3rem 1.1rem 1rem 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }

      &:hover span {
        color: $primary-color;
      }
      &:hover p {
        color: #555;
      }
      &:hover h3 {
        color: $primary-color;
      }
      &:hover h3:after{
        width: 25px;
      }
    
    
      p {
        padding-top: 20px ;
        color: $font-color;
        text-align: left;
        text-indent: 1em;
        font-size: 16px;
        line-height: 26px;
        transition: color .3s;
      }
    }
  }
}

.maindiv{
 
  display: flex;
  justify-content: space-between;
}